*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.challenge-container{
    width:100%;
    height:100vh;
    background-color: lightgray;
    border: 5px solid black;
}

.challenge-box-1 {
    background-color: rgb(219, 255, 219);
    width: 100vw;
    height: 30%;
    display: block;
}

.challenge-box-2 {
    background-color: lightgoldenrodyellow;
    width: 100vw;
    height: 30%;
    display: block;
}

.challenge-box-3 {
    background-color: lightblue;
    width: 100vw;
}